@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    color: white;
}

body {
    background-color: #221F1F;
}

.accent-color {
    color: #496ddb;
}

.bg-accent-color {
    background-color: #496ddb;
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
