@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    color: white;
}

nav {
    background-color: hsla(0, 0%, 0%, 0.5);
}

body {
    background: hsla(0, 5%, 13%, 1);

    background: linear-gradient(360deg, hsla(0, 5%, 13%, 1) 0%, hsla(225, 67%, 57%, 1) 74%, hsla(192, 96%, 50%, 1) 100%);

    background: -moz-linear-gradient(360deg, hsla(0, 5%, 13%, 1) 0%, hsla(225, 67%, 57%, 1) 74%, hsla(192, 96%, 50%, 1) 100%);

    background: -webkit-linear-gradient(360deg, hsla(0, 5%, 13%, 1) 0%, hsla(225, 67%, 57%, 1) 74%, hsla(192, 96%, 50%, 1) 100%);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#221F1F", endColorstr="#496DDB", GradientType=1);
}


.accent-color {
    color: #496ddb;
}

.bg-accent-color {
    background-color: #496ddb;
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
